.button2{       /*botões da 2 tela */
    width: 387px;
    height:50px;
    color: #898989;
    --background: #D9EBFC;
    }
.image1{        /*imagem */
    width: 50%;
    align-items: center;
    }