<ion-header [translucent]="true"></ion-header>
  <ion-toolbar class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
     ENTRAR
    </ion-title>
  </ion-toolbar>


<ion-content [fullscreen]="true">
  
  <p class="texto3">
    ENTRAR COMO:
  </p>
  <div class="centro">
    <ion-button class="button4" fill="outline" expand=block href="login" >PROFISSIONAL DA SAÚDE</ion-button>
    <ion-button class="button4" fill="outline" expand=block href="login" >MONITORA\PEDAGOGA</ion-button>
    <ion-button class="button4" fill="outline" expand=block href="login" >RESPONSÁVEL</ion-button>
  </div>
</ion-content>