.button4{
    --border-color: #E0E0E0;
    width: 387px;
    height:50px;
    color: #898989;
}
.texto3{
    text-align:center;
    margin: auto;
    color:#8A8A8A;
    padding: 20px;
    padding-top: 50%;
    padding-bottom: 20%;
}